@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Localizer.Get("Db.RoomSettings.FloorPlans.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SmartERP.RoomSettings.FloorPlansGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>